<header>
  <h1 class="title">极限挑战-2048</h1>
  <div class="score">Score</div>
</header>
<section class="game">
  <div class="grid">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="touch"></div>
</section>
