%header
  %h1.title 极限挑战-2048
  .score Score
%section.game
  .grid
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
    %div
  .touch