body {
  width: 500px;
  margin: 0 auto;
}

header {
  height: 50px;
  padding: 20px;

  .title {
    display: inline-block;
    margin: 0;
  }

  .score {
    display: inline-block;
    float: right;
    line-height: 50px;
    font-size: 20px;

    p {
      display: inline-block;
      margin: 0;
    }
  }
}

.game {
  width: 500px;
  height: 500px;
  position: relative;

  .grid {
    padding: 10px;
    width: 480px;
    height: 480px;
    background-color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 3px 0 #bbbbbb inset;

    div {
      display: inline-block;
      width: 110px;
      height: 110px;
      margin: 5px;
      border-radius: 5px;
      float:left;
      line-height: 100px;
      text-align: center;
      background-color: #ffffff;
    }
  }

  .touch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.grid div {
  font-size: 60px;

  &.bv {
    background-color: white;
    box-shadow: 0px 0px 15px #DDD inset, 0px 3px 0px #CCC;
  }
  &.b2 {
    background-color: #EAF4F9;
    box-shadow: 0px 0px 15px #CAE9F7 inset, 0px 3px 0px #CCC;
  }
  &.b4 {
    background-color: #E0F5FF;
    box-shadow: 0px 0px 15px #C1EBFF inset, 0px 3px 0px #CCC;
  }
  &.b8 {
    background-color: #C9EDFF;
    box-shadow: 0px 0px 15px #96DDFF inset, 0px 3px 0px #CCC;
  }
  &.b16 {
    background-color: #CCF3F3;
    box-shadow: 0px 0px 15px #93F2F2 inset, 0px 3px 0px #CCC;
  }
  &.b32 {
    background-color: #D5EEBC;
    box-shadow: 0px 0px 15px #C0ED93 inset, 0px 3px 0px #CCC;
  }
  &.b64 {
    background-color: #E8DBFF;
    box-shadow: 0px 0px 15px #CDB2FF inset, 0px 3px 0px #CCC;
  }
  &.b128 {
    background-color: #FBCDDA;
    box-shadow: 0px 0px 15px #F99FB9 inset, 0px 3px 0px #CCC;
    font-size: 50px;
  }
  &.b256 {
    background-color: #FFE5CA;
    box-shadow: 0px 0px 15px #FFC993 inset, 0px 3px 0px #CCC;
    font-size: 50px;
  }
  &.b512 {
    background-color: #FFA200;
    box-shadow: 0px 0px 15px #FFCD77 inset, 0px 3px 0px #CCC;
    font-size: 50px;
  }
  &.b1024 {
    background-color: #FFFA87;
    box-shadow: 0px 0px 15px #FFF547 inset, 0px 3px 0px #CCC; font-size: 40px;
    font-size: 40px;
  }
  &.b2048 {
    background-color: #333;
    box-shadow: 0px 0px 15px #555 inset, 0px 3px 0px #CCC;
    font-size: 40px;
  }
}