header {
  width: 500px;
  padding: 20px;
  margin: 30px auto;
  color: #A60302;

  h1 {
    font-size: 50px;
  }

  .title {
    display: inline-block;
    margin: 0;
  }

  .score {
    display: inline-block;
    font-size: 30px;
    padding-left: 150px;

    p {
      display: inline-block;
      margin: 0;
    }
  }
}

.game {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;

  .grid {
    padding: 1%;
    width: 96%;
    height: 96%;
    background-color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 3px 0 #bbbbbb inset;

    div {
      display: inline-block;
      width: 24%;
      height: 24%;
      margin: 0.5%;
      border-radius: 5px;
      float:left;
      line-height: 2.5;
      text-align: center;
      background-color: #ffffff;
    }
  }

  .touch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.grid div {
  font-size: 70px;

  p {
    display: none;
  }

  &.bv {
    background-color: white;
    box-shadow: 0px 0px 15px #DDD inset, 0px 3px 0px #CCC;
  }
  &.b2 {
    background: #EAF4F9 image-url("2.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #CAE9F7 inset, 0px 3px 0px #CCC;
  }
  &.b4 {
    background: #E0F5FF image-url("4.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #C1EBFF inset, 0px 3px 0px #CCC;
  }
  &.b8 {
    background: #C9EDFF image-url("8.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #96DDFF inset, 0px 3px 0px #CCC;
  }
  &.b16 {
    background: #CCF3F3 image-url("16.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #93F2F2 inset, 0px 3px 0px #CCC;
  }
  &.b32 {
    background: #D5EEBC image-url("32.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #C0ED93 inset, 0px 3px 0px #CCC;
  }
  &.b64 {
    background: #E8DBFF image-url("64.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #CDB2FF inset, 0px 3px 0px #CCC;
  }
  &.b128 {
    background: #FBCDDA image-url("128.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #F99FB9 inset, 0px 3px 0px #CCC;
    font-size: 60px;
  }
  &.b256 {
    background: #FFE5CA image-url("256.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #FFC993 inset, 0px 3px 0px #CCC;
    font-size: 60px;
  }
  &.b512 {
    background: #FFA200 image-url("512.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #FFCD77 inset, 0px 3px 0px #CCC;
    font-size: 60px;
  }
  &.b1024 {
    background: #FFFA87 image-url("1024.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #FFF547 inset, 0px 3px 0px #CCC; font-size: 40px;
    font-size: 50px;
  }
  &.b2048 {
    background: #333 image-url("2056.jpg");
    background-size: cover;
    box-shadow: 0px 0px 15px #555 inset, 0px 3px 0px #CCC;
    font-size: 50px;
  }
}

@media only screen and (min-width: 320px) {
  header {
    width: 320px;
  }
  .game {
    width: 320px;
    height: 320px;
  }
}

@media only screen and (min-width: 414px) {
  header {
    width: 414px;
  }
  .game {
    width: 414px;
    height: 414px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    width: 768px;
  }
  .game {
    width: 768px;
    height: 768px;
  }
}