body {
  width: 500px;
  margin: 0 auto;
}

header {
  height: 50px;
  padding: 20px;

  .title {
    display: inline-block;
    margin: 0;
  }

  .score {
    display: inline-block;
    float: right;
    line-height: 50px;
    font-size: 20px;
  }
}

.game {
  width: 500px;
  height: 500px;

  .grid {
    padding: 10px;
    width: 480px;
    height: 480px;
    background-color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 3px 0 #bbbbbb inset;

    div {
      display: inline-block;
      width: 110px;
      height: 110px;
      margin: 5px;
      border-radius: 5px;
      float:left;
      line-height: 100px;
      font-size: 50px;
      background-color: #ffffff;
    }
  }
}